@{
    ViewData["Title"] = "About";
}

<h1>About Me</h1>
<p>I'm Omar Bounana, a student pursuing a dual degree MS MIT and BBA MIS at the University of Oklahoma.</p>
<h2>Hobbies:</h2>
<ul>
    <li><p>Literature</p></li>
    <li><p>Coding</p></li>
    <li><p>Baking</p></li>
    <li><p>RTS games</p></li>
</ul>
