@{
    ViewData["Title"] = "Skills";
}

<h1>Skills</h1>
<p>Here are some skills I have familliarity with from Coursework or Internships:</p>
<ul>
    <li>C# - .NET for web dev</li>
    <li>SQL - Postgres and MongoDB</li>
    <li>Python - General use (Mostly Data Analysis: Pandas/Polars/Numpy</li>
    <li>Dagster - Data Pipeline Orchestration and Management</li>
    <li>Docker - Containerization</li>
    <li>Unix - CLI</li>
    <li>Pulumi - Infrastructure as Code</li>
</ul>
